VITE_FORM_ENDPOINT=/api/contact   # Netlify redirects this to the contact function
VITE_GA_MEASUREMENT_ID=G-XXXXXXXXXX
VITE_BOTPOISON_PUBLIC_KEY=pk_xxxxxxxx
BOTPOISON_SECRET_KEY=sk_xxxxxxxx
FORM_SUBMIT_ENDPOINT=https://formsubmit.co/ajax/a1b2c3d4e5f6g7h8
